@model Movie_Application.ViewModel.RatingVM
<style>
   .star-rating {
  border: solid 1px #ccc;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}
.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}
</style>

<form  method="post" >
<div class="star-rating">
    
    <input type="hidden" name="MovieId" value="@Model.MovieId"/>
    <input type="radio" id="5-stars" name="Rate" value="5" />
    <label for="5-stars" class="star">&#9733;</label>
        <input type="radio" id="4-stars" name="Rate" value="4" />
    <label for="4-stars" class="star">&#9733;</label>
        <input type="radio" id="3-stars" name="Rate" value="3" />
    <label for="3-stars" class="star">&#9733;</label>
        <input type="radio" id="2-stars" name="Rate" value="2" />
    <label for="2-stars" class="star">&#9733;</label>
        <input type="radio" id="1-star" name="Rate" value="1" />
    <label for="1-star" class="star">&#9733;</label>
   
</div>
    <button id = "submitButton" class="btn btn-primary" type="submit" disabled>Rate Movie</button>

</form>



<script>
    $(document).ready(function () {
        const starLabel = document.querySelectorAll('.star-rating label');
        const submitButton = document.getElementById('submitButton');
        const ratingValue = @Model.Rate;

        starLabel.forEach((label) => {
            label.addEventListener('click', () =>{
                submitButton.disabled = false;
            });
        });
        if(ratingValue != 0){
        const radioInput = document.getElementById(`${ratingValue}-stars`);
            if (radioInput) {
                radioInput.checked = true;
            }
        }
        $("#submitButton").on("click", function (event) {
            event.preventDefault();
            var movieId = $("input[name='MovieId']").val();
            var rating = $("input[name='Rate']:checked").val();

            var data = {
                MovieId: movieId,
                Rate: rating
            };
            $.ajax({
                url: "/Rating/AddRating",
                type: "POST",
                data: data,
                success: function (response) {
                    console.log(response)
                    // Handle the success response
                    var $responseHtml = $(response);
                    var $updatedContent = $responseHtml.find('#average-rating');

                    $('#average-rating').html($updatedContent);
                },
                error: function (xhr, status, error) {
                    // Handle the error response
                    alert("error")
                }
            });
        });
    });
</script>

